{% extends 'base.html.twig' %}

{% block body %}
    <h1>Winkelwagen</h1>
    <hr>
    <div class="checkout-proces">
        <div class="active"><p class="badge badge-light">1</p> Winkelwagen</div>
        <div><p class="badge badge-light">2</p> Adresgegevens</div>
        <div><p class="badge badge-light">3</p> Afrekenen</div>
    </div>
    <ul class="thumbnails">
        {% set cart = app.session.get('cart') %}
        {% set coupon = app.session.get('coupon') %}
        {% set total = 0 %}
        {% set count = 0 %}
        {% set kortingP = 0 %}

        {% if product %}
            <div class="row">
                <div class="col-md-10">
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th>Aantal</th>
                            <th>Afbeelding</th>
                            <th>Omschrijving</th>
                            <th>Prijs</th>
                            <th>Totaal</th>
                            <th>Verwijderen</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, item in cart %}
                            <tr>
                                <td>{{ item }}</td>

                                {% for row in product %}
                                    {% if row.id == key %}
                                        <td>
                                            <img src="/uploads/{{ row.imagepath[0].imagepath }}" class="img-rounded"
                                                 alt="{{ row.naam }}" width="75">
                                        </td>
                                        <td>{{ row.naam }}</td>
                                        <td>€{{ row.prijs | number_format(2) }}</td>
                                        <td>€{{ (row.prijs * item) | number_format(2) }}</td>
                                        {% set total = total + (row.prijs * item) %}
                                    {% endif %}
                                {% endfor %}

                                <td>
                                    <a href="{{ path('cart_remove', {'id': key}) }}">
                                        <button class="btn btn-danger">Verwijder</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {# Kortings codes #}
                        {% for c in coupon %}
                            {% for row in c %}
                                <tr bgcolor="#87cefa">
                                    <td>1</td>
                                    <td></td>
                                    <td>{{ row.naam }}</td>
                                    <td>-{{ row.percentage }}&percnt;</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% set kortingP = kortingP + total * row.percentage / 100 %}
                                {% dump(kortingP) %}
                                {% set total = total - kortingP %}
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </ul>
    <hr>
    <input id="kortingscode" class="form-control" style="width: 25%; float: left;" placeholder="Kortingscode">
    <button class="btn btn-primary" onclick="add()">Voeg toe</button>
    <hr>
    <h4 class="right">Totaal in winkelwagen = €{{ total | number_format(2) }}</h4>
    {% if kortingP != 0 %}
        <h4 class="right">Totaal korting = €{{ kortingP | number_format(2) }}</h4>
    {% endif %}
    <hr>
    <a href="{{ path('default') }}">
        <button type="button" class="btn btn-primary">Verder winkelen</button>
    </a>

    {# Als gebuiker is ingelogd #}
    {% if app.user %}

        {# Check of cart vol is #}
        {% if cart == null %}
            <a href="{{ path('checkout') }}">
                <button type="button" class="btn btn-success col-lg-2 pull-right" disabled>Winkelwagen is leeg</button>
            </a>
        {% else %}
            <a href="{{ path('cart_check_gegevens',{'user': app.user.id}) }}">
                <button type="button" class="btn btn-success col-lg-2 pull-right">Afrekenen</button>
            </a>
            {% if settings[0].ClearCart == 1 %}
                <a href="{{ path('cart_clear') }}">
                    <button type="button" class="btn btn-danger col-lg-2 pull-right">Leeg maken</button>
                </a>
            {% endif %}

            <br>
            <br>
            <br>
        {% endif %}

        {% if korting != null %}
            <a href="{{ path('kortingscode_remove') }}">
                <button type="button" class="btn btn-danger col-lg-2 pull-right">Coupon verwijderen</button>
            </a>
        {% endif %}
        {# Check of NAW-gegevens aanwezig zijn #}
        {% if naw == null %}
            <div class="alert alert-danger">
                <b>Let op!</b>
                <p>Uw adresgegevens zijn nog niet bij ons bekend. Voeg ze toe voordat u afrekend.</p>
            </div>
            <a href="{{ path('n_a_w_new') }}" class="btn btn-success">Voeg toe</a>
        {% endif %}
    {% else %}
        <br>
        <br>
        <h2>
            <a href="{{ path('fos_user_security_login') }}">Log in</a>
            of
            <a href="{{ path('fos_user_registration_register') }}">registreer</a>
            om verder te gaan.
        </h2>
    {% endif %}
    <br>
    <br>
{% endblock %}
{% block javascripts %}
    <script>
        function add() {
            let code = document.getElementById('kortingscode').value;
            window.location.href = "/kortingscode/add/" + code;
        }
    </script>

{% endblock %}