{% trans_default_domain 'FOSUserBundle' %}
<h1>Inloggevens bewerken</h1>
<hr>
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-success" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
<hr>
{#<h3>Persoonsgevens bewerken?</h3>#}
{#<a href="{{ path('n_a_w_edit', {'id': app.user.id}) }}" class="btn btn-info">Klik hier</a>#}
