<style>
    *{
        font-family: Arial;
    }
    th, td{
        padding: 10px;
        border: solid 1px;
    }
</style>
<h1>Factuur</h1>
<hr>
<h4><b>datum:</b> {{ factuur.datum|date('d-m-Y') }}</h4>
<h4><b>status:</b> <span class="{{ factuur.status }}">{{ factuur.status }}</span></h4>
<hr>
<h4><b>klant:</b>   {{ naw[0].voornaam }} {{ naw[0].achternaam }}</h4>
<h4><b>adres:</b>   {{ naw[0].adres }} </h4>
<h4><b>woonplaats:</b>   {{ naw[0].woonplaats }} </h4>
<hr>
<table class="table table-striped pull-right">
    <thead>
    <tr>
        <th>Aantal</th>
        <th>product</th>
        <th>prijs per stuk</th>
        <th>totaal</th>
    </tr>
    </thead>
    <tbody>
    {% set gentot = 0 %}
    {% for regel in regels %}
        <tr>
            <td>{{ regel.aantal }}</td>
            {% set totaal = regel.aantal %}
            <td>{{ regel.productId.naam|default('Product bestaat niet meer') }}</td>
            <td>&euro;
                {% for product in products %}
                    {% set p = regel.productId %}
                    {% if p.id|default("") == product.id|default("") %}
                        {{ product.prijs|number_format(2) }}
                        {% set totaal = (totaal * product.prijs) %}
                    {% endif %}
                {% endfor %}
            </td>
            <td>&euro; {{ totaal|number_format(2) }}</td>
            {% set gentot = (gentot + totaal) %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<hr>
<h3 class="btn-block">Totaal:<br>€ {{ gentot|number_format(2) }}</h3>
<script>
    window.print();
</script>
