{% extends 'base.html.twig' %}

{% block title %}{{ product.naam }} | Webshop{% endblock %}
{% block stylesheets %}
    <style>
        .mySlides {
            display: none;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="product-row">
        <a href="{{ path('categorie_show', {'id': product.categorie.id}) }}">
            <i class="fas fa-chevron-left"></i> {{ product.categorie }}
        </a>
        {% if ratings %}
            {% set sumratings = 0 %}
            {% for rating in reacties if rating.rating != 0 %}
                {% set sumratings = sumratings + rating.rating %}
            {% endfor %}
            {% set avg = sumratings / ratings|length %}
            {% if avg >= 6 %}
                <div class="avg-rating avg-green">{{ avg|number_format(1,',','.') }}</div>
            {% elseif avg <= 5.9 and avg >= 5.1  %}
                <div class="avg-rating avg-orange">{{ avg|number_format(1,',','.') }}</div>
            {% elseif avg <= 5 %}
                <div class="avg-rating avg-red">{{ avg|number_format(1,',','.') }}</div>
            {% endif %}
            <p style="float:right">Gemmidelde score:&nbsp;</p>
        {% endif %}
    </div>
    <div class="w3-content w3-display-container">
        {% if product.imagepath|length > 1 %}
            {% for row in product.imagepath %}
                <img alt="{{ product.omschrijving }}" width="300" height="300" class="mySlides product-img"
                     src="/uploads/{{ row.imagepath }}">
            {% endfor %}
            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        {% else %}
            <img alt="{{ product.omschrijving }}" class="product-img" style="object-fit: cover"
                 src="/uploads/{{ product.imagepath[0].imagepath }}"
                 width="300" height="300">
        {% endif %}
    </div>
    <br>
    <div class="product-info">
        <a href="{{ path('merk_show', {'id': product.merk.id}) }}">{{ product.merk }}</a>
        <h1>{{ product.naam }}</h1>
        {% if product.maat != null %}
            <h4><b>Maat: </b>{{ product.maat }}</h4>
        {% endif %}
        {% if product.actieprijs != 0 %}
            <h2 class="actie-prijs">&euro;{{ product.prijs|number_format(2) }}</h2>
            <h2>&euro;{{ product.actieprijs|number_format(2) }}</h2>
        {% else %}
            <h2>&euro;{{ product.prijs|number_format(2) }}</h2>
        {% endif %}
        {% if settings[0].AddCartAjax == 1 %}
            <br>
            <br>
            <button class="btn btn-success" onclick="add({{ product.id }}, '{{ product.naam }}')"><i
                        class="fas fa-cart-plus"></i> In winkelwagen
            </button>
        {% else %}
            {% if product.voorraad != 0 %}
                <a class="btn btn-success mt-3" href="{{ path('cart_add', {'id': product.id}) }}"><i
                            class="fas fa-cart-plus"></i> In winkelwagen</a>
            {% else %}
                <h3 style="color:red">Dit product is uitverkocht!</h3>
            {% endif %}
        {% endif %}
    </div>
    <div class="product-beschrijving">
        <h2>Beschrijving</h2>
        <hr>
        <p>{{ product.omschrijving }}</p>
        <hr>
    </div>
    <div class="related-products">
        <h2>Gerelateerd</h2>
        <hr>
        {% if product.relatedProducts != null %}
            {% for producten in product.relatedProducts %}
                <div class="product-card" style="width: 18rem;">
                    <img src="/uploads/{{ producten.imagepath[0].imagepath }}" class="card-img-top"
                         alt="{{ producten.naam }}"
                         width="75">
                    <hr>
                    <div class="card-body">
                        <h3 class="card-title">{{ producten.naam }}</h3>
                        {% if producten.actieprijs != 0 %}
                            <h4 class="actie-prijs">&euro;{{ producten.prijs|number_format(2) }}</h4>
                            <h4>&euro;{{ producten.actieprijs|number_format(2) }}</h4>
                        {% else %}
                            <h4>&euro;{{ producten.prijs|number_format(2) }}</h4>
                        {% endif %}
                        {% if settings[0].AddCartAjax == 1 %}
                            <button class="btn btn-success" onclick="add({{ product.id }}, '{{ product.naam }}')"><i
                                        class="fas fa-cart-plus"></i></button>
                        {% else %}
                            {% if producten.voorraad != 0 %}
                                <a href="{{ path('cart_add', { 'id': producten.id }) }}" class="btn btn-success"><i
                                            class="fas fa-cart-plus"></i></a>
                            {% else %}
                                <button class="btn btn-danger" disabled>uitverkocht</button>
                            {% endif %}
                        {% endif %}
                        <br>
                        <br>
                        <a href="{{ path('product_show', { 'id': producten.id }) }}" class="btn btn-primary">Bekijk</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% for row in producten %}
                <div class="product-card" style="width: 18rem;">
                    <img src="/uploads/{{ row.imagepath[0].imagepath }}" class="card-img-top"
                         alt="{{ row.naam }}"
                         width="75">
                    <hr>
                    <div class="card-body">
                        <h3 class="card-title">{{ row.naam }}</h3>
                        {% if row.actieprijs != 0 %}
                            <h4 class="actie-prijs">&euro;{{ row.prijs|number_format(2) }}</h4>
                            <h4>&euro;{{ row.actieprijs|number_format(2) }}</h4>
                        {% else %}
                            <h4>&euro;{{ row.prijs|number_format(2) }}</h4>
                        {% endif %}
                        {% if row.voorraad != 0 %}
                            <a href="{{ path('cart_add', { 'id': row.id }) }}" class="btn btn-success"><i
                                        class="fas fa-cart-plus"></i></a>
                        {% else %}
                            <p style="color:red">uitverkocht</p>
                        {% endif %}
                        <br>
                        <br>
                        <a href="{{ path('product_show', { 'id': row.id }) }}" class="btn btn-primary">Bekijk</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="comments">
        <h2>Reacties ({{ reacties|length }})</h2>
        <hr>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">{{ button_label|default('Plaatsen') }}</button>
        {{ form_end(form) }}
        <br>
        <table id="lijst">
        {% for row in reacties %}
            <div class="jumbotron comment">
                <b>{{ row.user ? row.user : 'Anoniem' }}</b><br>
                <i>{{ row.timestamp|date }}</i>
                {% if row.rating %}
                    {% if row.rating >= 10 %}
                        <div class="product-rating green">{{ row.rating|number_format(1,',','.') }}</div>
                    {% elseif row.rating <= 6.9 and row.rating >= 5.6 %}
                        <div class="product-rating orange">{{ row.rating|number_format(1,',','.') }}</div>
                    {% elseif row.rating <= 5.5 %}
                        <div class="product-rating red">{{ row.rating|number_format(1,',','.') }}</div>
                    {% endif %}
                {% endif %}
                <hr>
                <p>{{ row.text }}</p>
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <hr>
                    <a href="{{ path('reacties_edit', {'id': row.id}) }}" class="btn btn-warning">Bewerken</a>
                {% endif %}
            </div>
        {% endfor %}
        </table>
        <div class="message" aria-live="polite" aria-atomic="true"
             style="position: fixed; min-height: 200px;">
            <div class="toast" style="position: absolute; top: 0; right: 0;">
                <div class="toast-header">
                    <i class="fas fa-check-circle rounded mr-2" style="color:white"></i>
                    <strong class="mr-auto">Product toegevoegd</strong>
                    <small>Nu</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    Product toegevoegd aan winkelwagen
                </div>
            </div>
        </div>
    </div>
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <div class="product-btn">
            <hr>
            <a href="{{ path('product_index') }}" class="btn btn-primary">Terug</a>
            <br>
            <br>
            <a class="btn btn-warning" href="{{ path('product_edit', {'id': product.id}) }}">Bewerken</a>
            <br>
            <br>
            {{ include('product/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script>
        $('.toast').toast(option);

        function add(id, naam) {
            $('.toast').toast('show');
            var xhttp;

            xhttp = new XMLHttpRequest();

            xhttp.open("GET", "../cart/add/" + id, true);
            xhttp.send();
        }
    </script>
    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = x.length
            }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
    </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var table = $('#lijst').DataTable({
                stateSave: true
            });
            table.buttons().container()
                .appendTo($('.col-sm-6:eq(0)', table.table().container()));
            $('.dropdown-toggle').dropdown();
        });
    </script>
{% endblock %}