<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('style/responsive.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{{ path('default') }}">Webshop</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">

            <a class="p-2 text-dark" href="{{ path('product_index') }}">Producten</a>

            {% if app.user %}
                {% if not is_granted("ROLE_SUPER_ADMIN") %}
                    <a class="p-2 text-dark" href="{{ path('n_a_w_index') }}">Mijn Adresgegevens</a>
                    <a class="p-2 text-dark" href="{{ path('factuur_index') }}">Mijn bestellingen</a>
                {% endif %}
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <a class="p-2 text-dark" href="{{ path('factuur_index') }}">Bestellingen</a>
                    <a class="p-2 text-dark" href="{{ path('user_index') }}">Gebruikers</a>
                {% endif %}
            {% endif %}
            <a class="p-2 text-dark" href="{{ path('cart') }}"><i class="fas fa-shopping-cart"></i> Winkelwagen</a>

        </nav>
        {% if app.user %}
            <a class="btn btn-outline-primary" href="{{ path('fos_user_profile_edit') }}">{{ app.user.username }}</a>&nbsp;
            <a class="btn btn-outline-danger" href="{{ path('fos_user_security_logout') }}">Log uit</a>
        {% else %}
            <a class="btn btn-outline-primary" href="{{ path('fos_user_registration_register') }}">Registreren</a>&nbsp;
            <a class="btn btn-outline-success" href="{{ path('fos_user_security_login') }}">Login</a>
        {% endif %}
    </div>

    </body>
</html>
